<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/css/carWasher.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{carWasher.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/carWasher.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{css/carWasher.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{public/css/carWasher.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/public/css/carWasher.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
    <p>Hello world!!!!</p>
</div>
</body>
</html>